<div id="flash" class="flash w-100 d-flex justify-content-center">
  <% if notice.present? %>
    <div class="alert alert-info w-25 rounded-4 text-center position-absolute z-3 m-auto">
      <%= notice %>
      <button type="button" class="btn-close mx-3 mb-1" data-bs-dismiss="alert" aria-label="Close" >
      </button>    
    </div>  
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-warning w-25 rounded-4 text-center position-absolute z-3 m-auto">
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>   
    </div>
  <% end %>

</div>